
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Айкидо описание-->
          <div class="aikido" style="position: relative;">
                            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %}
            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">АЙКИДО</h1>
                  </div>
                  <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   

                <span style="color: #EFB35A; font-size: 25px;"> <b>И</b></span>сскуство айкидо - это не только техники ведения боя и самозащиты,
                а целая система по укреплению тела и духа. В процессе занятий айкидо происходит не только улучшение физической подготовки и выносливости,
                но и повышается стрессоустойчивость, формируется целеустремлённость и уверенность в себе.
                <p></p>
                <p>Техника ведения боя основана на улонении от удара противника, захватах и отражении ударов противника. Таким образом, энергия противника
                    будет направлена обратно на него самого. 
                    </p>
                    <p>В айкидо может использоваться специальное оружие: деревянный меч, деревянный нож, короткий стальной клинок.</p>
                <p>Занятия айкидо подойдут как для новичков, которые раньше не имели дело с боевыми искусствами, но и для 
                    опытных ценителей восточных единоборств, которые сразу отметят отличие данного вида боевого искусства от всех остальных видов единоборств.
                </p>
                <p>Занятия проводят только квалифицированные тренеры с многолетним опытом.</p>
                <p>Почему стоит выбрать занятия айкидо именно у нас:</p>
                    <ul>
                        <li>занятия подходят для людей любого уровня физической подготовки</li>
                        <li>периодически проводятся аттестационные экзамены на получения пояса</li>
                        <li>удобное время тренировок</li>
                        <li>разные возрастные группы</li>
                        <li>возможность персональных тренировок</li>
                    </ul>

                    <p>Вы можете записаться на пробное занятие, если не уверены, что готовы купить сразу абонемент.</p>

                </div>
            </div>

            <div class=" mb-3 text-center mx-4 mx-auto" style="background: rgba(0, 0, 0, 0.70); height: 380px; width: auto; margin-top: 5px; ">

                <div class="container-md col-md-5 " style="margin-left: 0 auto; padding-top: 5px;">
                    <!--карусель фото-->
{% include 'carousel.html' ignore missing %}
                  </div>
            </div>
          </div>

               <!--футер-->
{% include 'footer.html' ignore missing %}
  
