
    <!--хедер-->
{% include 'header.html' ignore missing %}

    <!-- Адрес на карте-->
    <div class="apply-bg" style="position: relative;">
      <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
        <div class="row mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A; margin-bottom: 5px !important;">
            <div class="col-md-12 themed-grid-col">
              <div class="pb-2 pt-5">
                <h1 style="color: #EFB35A;" class="mt-4">КОНТАКТЫ</h1>
              </div>
              
                <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; margin-bottom: 20px;">   
                    <p>В Екатеринбурге наш фитнес-центр расположен по адресу пр. Ленина 8 рядом с метро пл.1905 года.</p>
                    <p>  По всем вопросам, пожеланиям, предложениям вы можете связаться с нами по тел. +7(950)333-77-55 или по электронной почте bodysoul@fit.com, а также в социальных сетях: @bodysoul в нашем Telegram канале, в группе VK и YouTube канале. </p>
                </div>
                     <div class="col-md-5 themed-grid-col p-2 border border-warning" style="margin: 20px auto; width: 800px; height: 450px; padding-top: 20px !important;">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3a3e4ff838ed43a6d22c5ddb18c1b614e0a633ba7e38b117784d012d82e408e0&amp;source=constructor" width="750" height="400" frameborder="0"></iframe>
            </div>
          </div>
    </div>

     <!--футер-->
{% include 'footer.html' ignore missing %}

