<!--шаблон сообщения о куки-->
<div id="cookieBox" style="width: 400px; height: 300px; position: absolute; z-index: 1; right: 0; bottom: 0;"> 
    <div id="cookieConsent"> 
        <header id="cookieHeader"> 
              Мы используем куки на сайте
          </header> 
          <hr>
        <p> 
          Для улучшения работы сайта мы рекомендуем согласиться с использованием куки
        </p> 
        <p>Мы используем только необходимые куки</p>
        <div class="buttons"> 
            <button class="acceptCookie"> 
                  Принимаю 
              </button> 
            <button class="rejectCookie"> 
                  Не принимаю
              </button> 
        </div> 
    </div> 
  </div>