
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Расписание-->
          <div class="gym" style="position: relative; height: 100%; margin: 0;">
            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(33, 32, 32, 0.856);height: 1000px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">ЗАПИСЬ В РАСПИСАНИИ</h1>
                  </div>
                  <div class="row">

                    <div class="col-md-6 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   
                      <form method="POST">
                        
                          {{ form.hidden_tag() }}
                          <br>
                          {{ form.date.label(class="form-label") }}
                  
                          {{ form.date(class="form-control", rows="10") }}
                          <br/>
                          {{ form.time.label(class="form-label") }}
                  
                          {{ form.time(class="form-control", rows="10") }}
                          <br/>
                          {{ form.name.label(class="form-label") }}
                  
                          {{ form.name(class="form-control", rows="10") }}
                          <br/>
                          </div>
                          <div class="col-md-6 themed-grid-col text-center text-white headings" style=" font-size: 18px; padding: 20px 40px; line-height: 1.5; width: 400px !important; margin: 0 auto;">
                            <br>
                            {{ form.phone.label(class="form-label") }}
                  
                            {{ form.phone(class="form-control", row="10") }}
                            <br>
                            {{ form.email.label(class="form-label") }}
                    
                            {{ form.email(class="form-control", row="10") }}
                            <br>
                            {{ form.section.label(class="form-label") }}
                    
                            {{ form.section(class="form-control", row="10")  }}
      
                          </div>
                          <hr class="text-white">
                          <div class="col-md-12">
                            {{ form.submit(class="btn btn-secondary cke-btn") }}
                          </div>
                      </form>
                      <div>
                        <br>
                        <a href="{{ url_for('list_schedule') }}" class="text-white">Вернуться к списку тренировок</a>
                      </div>
                  </div>
 

                    
                </div>
            </div>
          </div>
               <!--футер-->
{% include 'footer.html' ignore missing %}

