
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Тренажёрный зал описание-->
          <div class="gym" style="position: relative;">
            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">ТРЕНАЖЁРНЫЙ ЗАЛ</h1>
                  </div>
                  <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   

                <span style="color: #EFB35A; font-size: 25px;"> <b>О</b></span>снащен профессиональным оборудованием мировых лидеров производителей спортивного оборудования.
                <p>Зал делится на основные зоны:</p>
                    <ul>
                        <li>кардио-зона</li>
                        <li>силовая зона базового и среднего уровня подготовки</li>
                        <li>силовая зона свободных весов для опытного спортсмена</li>
                        <li>зона растяжки</li>
                        <li>зона функционального тренинга</li>
                    </ul>

                <p>В зале всегда присутствует дежурный тренер, который поможет советом и не даст заблудиться в разнообразии тренажеров.</p>
                <p>В кардиозону входят:</p>
                <ul>
                    <li>10 беговых дорожек</li>
                    <li>12 степперов</li>
                    <li>10 эллипсоидов</li>
                    <li>15 велотренажеров</li>
                    <li>5 тренажеров для гребли</li>
                </ul>

                Вы можете выбрать для себя формат работы с персональным тренером:
                <ul>
                    <li>индивидуальная тренировка</li>
                    <li>сплит-тренировка (1 тренер для двух человек)</li>
                    <li>мини-группа из 3-6 человек</li>
                </ul>

                Мы рекомендуем персонального тренера для новичков, желающих иметь фигуру мечты; для подготовки к соревнованиям, а также
                тех, кому нужно быстро реабилитироваться после травм.
                </div>
            </div>

            <div class=" mb-3 text-center mx-4 mx-auto" style="background: rgba(0, 0, 0, 0.70); height: 380px; width: auto; margin-top: 5px; ">

                <div class="container-md col-md-5 " style="margin: 0px 450px; padding-top: 5px ">
                    <!--карусель фото-->
{% include 'carousel.html' ignore missing %}
                  </div>
            </div>
          </div>

               <!--футер-->
{% include 'footer.html' ignore missing %}
  
