
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Тайский бокс описание-->
          <div class="m-thai" style="position: relative;">
            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 

            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">ТАЙСКИЙ БОКС</h1>
                  </div>
                  <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   

                <span style="color: #EFB35A; font-size: 25px;"> <b>Е</b></span>сли вы всегда мечтали погрузиться в мир одного из самых дрених видов единоборств, тайского бокса,
                то у нас вы найдёте опытных тренеров, которые помогут вам в этом! У нас тренируются вне зависимости от пола: есть и женские, и мужские группы,
              а также детские группы (с 10 лет). 
                <p></p>
                <p>У нас вы сможете найти для себя группу единомышленников, влюблённых в восточные боевые искусства и зарядитесь неповторимой энергетикой во время тренировок.
                    </p>
                    <p>В зале для тренировок вы найдёте всю необходимую экипировку: перчатки, шлемы, защита для всех необходимых частей тела, чтобы тренировки проходили безопасно и с удовольствием.</p>
                <p>Мы также проводим областные и федеральные соревнования по тайскому боксу, в которых вы при должном уровне подготовки сможете принять участие.
                </p>
                <p>Занятия проводят только квалифицированные тренеры с многолетним опытом.</p>
                <p>Почему стоит выбрать занятия тайским боксом именно у нас:</p>
                    <ul>
                        <li>занятия подходят для людей любого уровня физической подготовки</li>
                        <li>отдельно проводятся занятий для женских групп</li>
                        <li>весь необходимый инвентарь разных размеров вам предоставят перед тренировкой</li>
                        <li>удобное время тренировок</li>
                        <li>разные возрастные группы</li>
                        <li>возможность персональных тренировок</li>
                    </ul>

                    <p>Вы можете записаться на пробное занятие, если не уверены, что готовы купить сразу абонемент.</p>

                </div>
            </div>

            <div class=" mb-3 text-center mx-4 mx-auto" style="background: rgba(0, 0, 0, 0.70); height: 380px; width: auto; margin-top: 5px; ">
                <div class="container-md col-md-5 " style=" padding-top: 5px ">
                  <!--карусель фото-->
{% include 'carousel.html' ignore missing %}
                  </div>
            </div>
          </div>

               <!--футер-->
{% include 'footer.html' ignore missing %}
