
    <!--хедер-->
{%  include 'header.html' ignore missing %}

    <!-- страница ошибки 404-->
    <div class="apply-bg-application" style="position: relative;">
               
        <div class=" mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 750px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
            <div class="col-md-12 themed-grid-col">
              <div class="pb-2 pt-5">
                <h1 style="color: #EFB35A;" class="my-1">СТРАНИЦА НЕ НАЙДЕНА!</h1>
              </div>
              <div class="row">
                <div class="col-md-6 themed-grid-col text-center text-white headings" style="margin: 10px auto; font-size: 18px; padding: 20px 40px; line-height: 1.5; width: 700px !important;">   
                  Нажмите на что-нибудь другое
                  <img src={{cat}} style="height: 500px; padding-top: 10px;" alt="404">
                    </div>
                  </div>
                </div>
              </div>
            </div>
     <!--футер-->
{% include 'footer.html' ignore missing %}
