<!--шаблон модального окна политики конфиденциальности-->
<div class="modal fade" id="policy" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" style="width: 900px; margin-left: 300px; margin-right: 300px;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" style="font-size: 20px;">Политика обработки персональных данных</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-lebel="Close"></button>
        </div>
        <div class="modal-body">
          <p>Персональные данные включают в себя любую информацию, которая может использоваться для идентификации конкретного человека. Это могут быть такие данные, как имя, дата рождения, адрес, контактная информация, паспортные данные, данные банковской карты, информация о здоровье, фитнес-прогресс и другие сведения, которые могут быть связаны с определенным человеком.

            Наш фитнес-центр собирает и использует персональные данные клиентов в следующих целях:
            
            <p>1. Регистрация и поддержание абонементов: Мы используем персональные данные клиентов для регистрации наших услуг, контроля сроков абонементов, управления финансовыми транзакциями и связи с клиентами относительно платежей.</p>
            
            <p>2. Улучшение и оснащение занятий: Информация о здоровье и фитнес-прогрессе клиентов помогает нашим тренерам и инструкторам создавать более эффективные и персонализированные программы тренировок.</p>
            
            <p>3. Связь с клиентами: Мы используем контактную информацию для обратной связи, напоминаний о занятиях, отправки уведомлений об изменениях в расписании и других важных уведомлений.</p>
            
            <p>4. Соблюдение законодательства: Мы можем использовать персональные данные для соблюдения законодательных требований, таких как отчетность перед налоговыми и правоохранительными органами.</p>
            
            Наш фитнес-центр строго соблюдает законы о защите персональных данных и не передает их третьим лицам без согласия клиентов, за исключением случаев, предусмотренных законом.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3 button_header" style=" margin-left: 80px;" data-bs-dismiss="modal" >Ознакомлен</button>
        </div>
      </div>

    </div>
  </div>