
    <!--хедер-->
{% include 'header.html' ignore missing %}

    <!-- Цены-->
    <div class="apply-bg" style="position: relative;">
      <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
        <div class="row mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
            <div class="col-md-12 themed-grid-col">
              <div class="pb-2 pt-5">
                <h1 style="color: #EFB35A;" class="mt-4">ЦЕНЫ</h1>
              </div>
              
                <div class="col-md-6 themed-grid-col text-center text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; margin-bottom: 30px">   
                    В таблице вы можете найти цену на интересующий вас абонемент.
                </div>
                     <div class="col-md-5 themed-grid-col p-2 border border-warning" style="margin: 20px auto; width: 920px; height: 370px; padding-top: 20px !important;">
                      <iframe width="880px" height="330px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR7jid6ShUbV67VdKcQ-NA_glJkecqZadmZqqNttKn0t2qnrQSRZ4aPgge3JjN68fXz3mNZuNWogKp5/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false&amp;chrome=false&amp;range=B3:H8&amp;chrome=false "></iframe>
                </div>
            </div>
          </div>
    </div>

     <!--футер-->
{% include 'footer.html' ignore missing %}
