
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Расписание-->
          <div class="gym" style="position: relative; height: 100%; margin: 0;">
            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(33, 32, 32, 0.856);height: 1000px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">ЗАПИСЬ В РАСПИСАНИИ</h1>
                  </div>
                  <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   
                    <br>
                    <div class="p-2 mb-2 rounded border-radius text-left">
                    {{ schedule.s_date }} <br> <hr>
                    {{ schedule.s_time }} <br> <hr>
                    {{ schedule.s_name  }} <br> <hr>
                    {{ schedule.s_phone }} <br> <hr>
                    {{ schedule.s_email }} <br> <hr>
                    {{ schedule.s_section }} <br> <hr>
                    </div>
                </div>
                <div>
                  <a href="{{ url_for('list_schedule') }}" class="text-white">Вернуться к списку тренировок</a>
                </div>
            </div>
          </div>
               <!--футер-->
{% include 'footer.html' ignore missing %}

