
        <!--хедер-->
{% include 'header.html' ignore missing %}

<!-- Йога описание-->
          <div class="yoga" style="position: relative;">
            <!-- Окно куки-->
{% include 'cookie.html' ignore missing %} 
            <div class="col mb-3 text-center mx-4 mx-auto p-2" style="background: rgba(0, 0, 0, 0.70);height: 900px; width: 1250px; margin-top: 5px; border: 1px solid #EFB35A;">
                <div class="pb-2 pt-5">
                    <h1 style="color: #EFB35A;" class="mt-4">ЙОГА</h1>
                  </div>
                  <div class="col-md-10 themed-grid-col text-white headings" style="margin: 10px auto; font-size: 18px; padding: 10px 40px; line-height: 1.5; text-align: left !important;">   

                <span style="color: #EFB35A; font-size: 25px;"> <b>З</b></span>ал йоги у нас - это особое пространство для отдыха души и тела, где вас никто не сможет потревожить.
                <p></p>
                <p>Если вы выбрали для себя здоровый и осознанный образ жизни - добро пожаловать в наш островок спокойствия, где всё пространство создано для того, чтобы вы смогли отвлечься от трудовых будней и посвятить себе время в безмятежности.
                    </p>
                    <p>В зале для йоги есть всё для комфортных занятий: удобные коврики, ленты, блоки и др. принадлежности. Во время занятий мы зажигаем свечи для создания уютной атмосферы,
                        а после занятия вы можете отдохнуть за чайным столиком прямо в зале, где вас угостят вкусным и полезным улуном или другим чаем из нашей чайной карты на ваш вкус.
                <p>Занятия проводят опытные инструкторы, которые проходили специальное обучение и могут комбинировать различные элементы из разных видов йоги для максимальной эффективности занятий.
                </p>
                <p></p>
                <p>Почему стоит выбрать занятия йогой именно у нас:</p>
                    <ul>
                        <li>занятия подходят как для новичков в мире йоги, так и для опытных йогов</li>
                        <li>наш просторный зал вмещает 15-20 человек, все места находятся на комфортном расстоянии друг от друга</li>
                        <li>возможность персональных тренировок по интересующему вас виду йоги</li>
                        <li>возможность записаться в мини-грппу из 3-5 человек</li>
                        <li>удобное время тренировок: утренние и вечерние часы</li>
                        <li>нашими приоритетными направлниями является хатха и кундалини йога, а также смешанные занятия по решению инструктора</li>
                    </ul>
                    <p>Вы можете записаться на пробное занятие, если не уверены, что готовы купить сразу абонемент.</p>
                </div>
            </div>
            <div class=" mb-3 text-center mx-4 mx-auto" style="background: rgba(0, 0, 0, 0.70); height: 380px; width: auto; margin-top: 5px; padding-top: 3px;">
                <div class="container-md col-md-5 " style=" padding-top: 5px ">
                    <!--карусель фото-->
{% include 'carousel.html' ignore missing %}
                  </div>
            </div>
          </div>
               <!--футер-->
{% include 'footer.html' ignore missing %}
